
# Nix lock files
**/flake.lock
flake.lock

# Build directories - ensure we exclude all target directories and their contents
**/target/
flakes/kafka/kafka-flink-job-b/target/
flakes/kafka/kafka-flink-job/target/
**/target/*.jar

# Redis dump files
flakes/redis/dump.rdb

# Virtual environments
flakes/*/.venv
**/.venv/
**/.venv/lib/python*/site-packages/*
**/metastore_db
**/derby.log



# Maven lock files
**/.mvn/wrapper/maven-wrapper.jar
**/.mvn/wrapper/maven-wrapper.properties
**/pom.xml.versionsBackup
**/pom.xml.releaseBackup
**/release.properties
**/dependency-reduced-pom.xml

# Gradle lock files

**/.gradle/
**/build/
**/gradle-app.setting
**/.gradletasknamecache

# VSCode
**/.vscode

